/**
 * Example configuration file for a Spring Boot application.
 * Copy this file as 'application.properties' and update the values as needed.
 */
spring.application.name=lms

# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/name_of_your_database
spring.datasource.username=postgres
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Configure logging level for Spring Security
logging.level.org.springframework.security=TRACE

# swagger-ui custom path
springdoc.swagger-ui.path=/swagger-ui.html

# Email config
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=trinhdev.gl@gmail.com
spring.mail.password=jppqtqjqunbxxsza
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# i18n
spring.messages.basename=i18n/messages
spring.messages.encoding=UTF-8
spring.messages.fallback-to-system-locale=false

#Base URL
app.base-url=http://localhost:8080
app.frontend-url=http://localhost:3000
app.api-version=api/v1

# JWT Configuration
jwt.secret=your_jwt_secret_key
jwt.access-token.expiration=86400
jwt.refresh-token.expiration=100000